#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Terragrunt
**/.terragrunt-cache/*
**/.terragrunt-global-cache/*
fcbh-infrastructure.code-workspace
content-distribution/bibleis-account/us-west-2/prod/bibleis-web/bastion/bibleis-dev.pem
